{% extends 'posts/base.html' %}

{% block title%}
    Авторизация
{% endblock %}

{% block page_content %}
<form method="post" class="form-1">
    {% csrf_token %}
    <p class="field">
        <input type="text" name="username" autofocus="" placeholder="Логин" autocapitalize="none"
                   autocomplete="username" maxlength="150" required="" id="id_username">
        <i class="icon-user icon-large"></i>
    </p>
        <p class="field">
        <input type="password" name="password" placeholder="Пароль" required="" id="id_password">
        <i class="icon-lock icon-large"></i>
    </p>
    <p class="submit">
        <button type="submit" name="submit"><i class="icon-arrow-right icon-large"></i></button>
    </p>
    <div class="col-auto">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
        <label class="form-check-label" for="autoSizingCheck">
          Запомнить меня
        </label>
        </div>
    </div>
    <a href="{% url 'core:password-reset' %}">Забыли пароль?</a>
</form>
{% endblock %}