<header class="header">
    {% if user.is_authenticated %}
    <p>Привет, <a href="{% url 'core:profile-detail' user.profile.id %}">{{user.username }}</a></p>

    {% else %}

    {% endif %}
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:sign_up' %}">Зарегистрироваться</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:login' %}">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:logout' %}">Выйти</a>
        </li>
    </ul>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'posts:index' %}">M-Auto</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'posts:index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts:feed'%}">Лента друзей</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts:post-create'%}">Добавить пост</a>
                    </li>
                    {% endif %}
            </div>
        </div>
    </nav>
</header>

<div class="card" style="width: 18rem;">
    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ post.description }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="{% url 'posts:post-detail' post.id %}" class="btn btn-primary">Перейти к объявлению</a>
        <form method="posts" action="{% url 'posts:post-favorite' post.id %}">
            {% csrf_token %}
            <button type="submit">♥</button>
        </form>
    </div>
</div>

<ul>
    {% for post in posts %}
    <li>
        <a href="{% url 'posts:post-detail' post.id %}">Перейти к объявлению</a>
        <a href="{% url 'core:profile-detail' post.author.profile.id %}">{{ post.author }}</a>
        <p>{{ post.date_pub }}</p>
        <img src="{{ post.image.url }}" style="width: 500px; height: 250px;">
        <p>{{ post.description }}</p>
        <p> favorite: {{ post.favorite_count }}</p>
        <form method="posts" action="{% url 'posts:post-favorite' post.id %}">
            {% csrf_token %}
            <button type="submit">♥</button>
        </form>
    </li>
    {% endfor %}
</ul>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ post.description }}</h5>
                <a href="{% url 'core:profile-detail' post.author.profile.id %}">Автор: {{ post.author }}</a>
                <p class="card-text">Опубликовано: {{ post.date_pub }}</p>
                <a href="{% url 'posts:post-detail' post.id %}" class="btn btn-primary">Перейти к объявлению</a>
                <form method="posts" action="{% url 'posts:post-favorite' post.id %}">
                    {% csrf_token %}
                    <button type="submit">♥</button>
                </form>
            </div>
        </div>
    </div>
</div>